$all-bg-color: #020c1b;
$dark-buttons-color: #34e0f0;
$dark-secondary-text-color: #bebebd;
$all-primary-text-color: #020c1b;
$dark-sidebar-bg-color: #0a192fdf;

$other-colors: rgb(188, 188, 189);



$font-weights: (
  "bold": 900,
  "medium": 400,
  "regular": 200,
);

@mixin flex($flexDIrection, $alignItems, $justifyContent) {
  display: flex;
  flex-direction: $flexDIrection;
  align-items: $alignItems;
  justify-content: $justifyContent;
}


