@import "./reset";
@import "./variables";

.contact-page-container {
  @include flex(column, flex-start, center);

  @media screen and (max-width: 700px) {
    margin-top: 9rem;
    margin-left: 3rem;
    margin-bottom: 5rem;
  }
  @media screen and (min-width: 700px) {
    margin-top: 15rem;
    margin-left: 8rem;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 15rem;
    margin-bottom: 5rem;
    margin-left: 13rem;
  }

  @media screen and (min-width: 1400px) {
    margin-top: 11rem;
    margin-left: 20rem;
    margin-bottom: 5rem;
  }
  .contact-header-description {
    margin-bottom: 1rem;
    line-height: 1.5rem;

    p {
      font-size: 1.2rem;
      color: $dark-buttons-color;

      @media screen and (max-width: 700px) {
        font-size: 0.9rem;
      }
      @media screen and (min-width: 700px) {
      }
      @media screen and (min-width: 1200px) {
      }
      @media screen and (min-width: 1400px) {
      }
      em {
        font-weight: 900;
        color: $all-primary-text-color;
      }
    }

    @media screen and (max-width: 700px) {
      @include flex(column, flex-start, center);
    }
    @media screen and (min-width: 700px) {
      @include flex(column, flex-start, center);
    }
    @media screen and (min-width: 1200px) {
      @include flex(column, flex-start, center);
    }
    @media screen and (min-width: 1400px) {
      @include flex(column, flex-start, center);
    }
  }
  .email-phone {
    @include flex(row, flex-start, flex-start);
    gap: 1rem;
    flex-wrap: wrap;
  }
  .form-fields-container {
    @include flex(column, flex-start, center);
    gap: 2rem;
    @media screen and (max-width: 700px) {
      @include flex(column, center, center);
    }
    @media screen and (min-width: 700px) {
    }
    @media screen and (min-width: 1200px) {
    }
    @media screen and (min-width: 1400px) {
    }
  }
  .name-email {
    @include flex(row, center, center);
    gap: 2rem;
    @media screen and (max-width: 700px) {
      @include flex(column, center, center);
    }
    @media screen and (min-width: 700px) {
    }
    @media screen and (min-width: 1200px) {
    }
    @media screen and (min-width: 1400px) {
    }
  }
  .subject-message {
    @include flex(column, center, center);
    gap: 2rem;
  }
  .contact-header {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: "Righteous", cursive;
    @media screen and (max-width: 700px) {
      font-size: 1.7rem;
    }
    @media screen and (min-width: 700px) {
    }
    @media screen and (min-width: 1200px) {
    }
    @media screen and (min-width: 1400px) {
    }
  }
  .contact-description {
    width: 60%;
    font-size: 1rem;
    margin-bottom: 1rem;
    color: $all-primary-text-color;
    @media screen and (max-width: 700px) {
      width: 95%;
      font-size: 0.8rem;
    }
    @media screen and (min-width: 700px) {
    }
    @media screen and (min-width: 1200px) {
    }
    @media screen and (min-width: 1400px) {
    }
  }
  ul {
    width: 100%;
    @include flex(column, center, center);

    .input {
      width: 20rem;
      height: 3rem;
      padding: 0 1rem;
      border: none;
      // border: 1px solid $all-primary-text-color;
      background-color: #ffffff;
      color: $all-primary-text-color;
      border-radius: 0.5rem;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

      &:focus {
        outline: none !important;
        // border-bottom: 1px solid $dark-buttons-color;
        // border-top: none;
        // border-left: none;
        // border-right: none;

        // box-shadow: 0 0 10px #719ece;
      }
      @media screen and (max-width: 700px) {
        width: 18rem;
      }
      @media screen and (min-width: 700px) {
        width: 14rem;
      }
      @media screen and (min-width: 1000px) {
        width: 20rem;
      }
      @media screen and (min-width: 1200px) {
        width: 20rem;
      }
      @media screen and (min-width: 1400px) {
        width: 20rem;
      }
    }
    textarea {
      width: 44rem;
      height: 10rem;
      padding: 1rem;
      font-family: "Roboto", sans-serif;
      background-color: #ffffff;
      border: none;
      color: $all-primary-text-color;
      border-radius: 0.5rem;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      resize: vertical;
      &:focus {
        outline: none !important;
      }
      @media screen and (max-width: 700px) {
        width: 18rem;
        height: 8rem;
      }
      @media screen and (min-width: 700px) {
        width: 32rem;
        height: 8rem;
      }
      @media screen and (min-width: 1000px) {
        width: 44rem;
        height: 10rem;
      }
      @media screen and (min-width: 1200px) {
        width: 44rem;
        height: 10rem;
      }
      @media screen and (min-width: 1400px) {
        width: 44rem;
        height: 10rem;
      }
    }
  }
}
.submit-btn {
  cursor: pointer;
  width: 15rem;
  height: 3rem;
  padding: 0 1rem;
  border: none;
  background-color: $dark-sidebar-bg-color;
  color: $other-colors;
  border-radius: 0.5rem;
  @media screen and (max-width: 700px) {
    width: 20rem;
  }
  @media screen and (min-width: 700px) {
  }
  @media screen and (min-width: 1200px) {
  }
  @media screen and (min-width: 1400px) {
  }
  &:hover {
    background-color: $all-bg-color;
    color: #ffffff;
    transition: 1s;
  }
}
