@import "./reset";
@import "./variables";

@mixin theme($light-theme: true) {
  @if $light-theme == true {
    background-color: lighten($all-bg-color, 100%);
    color: darken($all-primary-text-color, 100%);
  }
  @if $light-theme == false {
    background-color: $all-bg-color;
    color: $all-primary-text-color;
    // background: url("https://wallpapercave.com/wp/wp8286467.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: $mobile) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

.home-container {
  @include theme($light-theme: false);
  height: 100vh;
  // width: 100%;
  position: relative;
  // z-index: 1;
}
.home-container-elements {
  padding: 14rem 0rem 0rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.home-intro-greeting {
  font-size: 4rem;
  font-weight: map-get($font-weights, bold);
  color: $dark-secondary-text-color;
  animation-name: homeGreetings;
  animation-duration: 4s;
  //   animation-iteration-count: 2;
  animation-timing-function: ease-in-out;
}
.home-name-intro {
  font-size: 9rem;
  font-weight: map-get($font-weights, bold);
  animation-name: homeName;
  animation-duration: 6s;
  // animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  // animation-fill-mode: forwards;

  &:hover {
    // transform: skew(5deg);
    color: $dark-buttons-color;
    transition: 2s;
  }
}
.home-profission-intro {
  font-size: 3rem;
  color: $dark-secondary-text-color;
  font-weight: map-get($font-weights, bold);
  animation-name: homeGreetings;
  animation-duration: 4s;
  //   animation-iteration-count: 2;
  animation-timing-function: ease-in-out;
}
.home-buttons {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.home-button-one {
  border: none;
  background-color: $dark-buttons-color;
  color: $all-bg-color;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  font-weight: map-get($font-weights, regular);
  border: 1px solid $dark-buttons-color;
  // font-family: "Poppins", sans-serif;
  font-weight: map-get($font-weights, regular);
  border-radius: 0.5rem;

  cursor: pointer;
  &:hover {
    background-color: $all-primary-text-color;
    border: 1px solid $all-primary-text-color;
    color: darken($all-primary-text-color, 100%);
    transform: scale(1.08);
    transition: 0.8s;
  }
}
.home-button-two {
  @extend .home-button-one;
  color: $all-primary-text-color;
  color: $dark-buttons-color;
  background-color: transparent;
}

.home-self-introduction {
  @include flex(column, flex-start, space-between);
  position: absolute;
  gap: 1.5rem;
  bottom: 10px;
  left: 50px;
  width: 40rem;
  // height: 8rem;
  // background-color: rgba(0, 0, 0, 0.315);
   background:linear-gradient(0deg, #0a192f, #020c1b);

  padding: 2rem;
  font-family: Poppins, sans-serif;
  color: $dark-secondary-text-color;
  font-weight: map-get($font-weights, regular);
  // letter-spacing: 2px;
  word-spacing: 3px;
  line-height: 20px;
  animation: homeGreetings;
  animation-duration: 2s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
  &:hover {
    background-color: rgba(0, 0, 0, 0.315);
    // border-top-right-radius: 2rem;
    // border-bottom-right-radius: 2rem;
    left: 0;
    transition: 1s;
  }
}
.home-bg {
  position: absolute;
  top: 9rem;
  left: 0;
  font-size: 30rem;
  // z-index: -1;
  color: rgba(65, 65, 65, 0.186);
}

@keyframes homeGreetings {
  0% {
    // transform: none;
    opacity: 0;
  }
  50% {
    // transform: scale(1.1);
    opacity: 0.5;
  }
  //  75%{
  //     // transform: scale(1.1);
  //     opacity: 0.8;
  // }
  100% {
    // transform: scale(1.1);
    opacity: 1;
  }
}
@keyframes homeName {
  0% {
    opacity: 0;
    transform: scale(1);
    color: $all-primary-text-color;
  }
  50% {
    transform: scale(1.02);
    opacity: 1;
    color: $dark-buttons-color;
  }
}
